MYSQL_DATABASE=smart_life
MYSQL_ROOT_PASSWORD=root
MYSQL_USER=smartlife
MYSQL_PASSWORD=smartlife
MYSQL_PORT=3306
REDIS_PORT=6379
DB_USERNAME=root
DB_PASSWORD=root
REDIS_HOST=localhost
REDIS_PASSWORD=
